<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static_src/style.css">
  </head>
  <body>
    
    <!--Login-->
        <section id="login">
            <div class="container" >
                <div class="formulario" > 
                    
                    <div class="padre">
                        <form class="col col-md-4 offset-md-0 col-7 offset-0" id="formu">
                            <div class="tex-center" style="padding-bottom: 6%; padding-top: 4%; color: whitesmoke; font-size: 200%;">Bienvenido </div>
                            <div  >
                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="API Key">
                            </div>
                            
                            <div style="padding-top: 8px;"><input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Secret Key"></div>
                            <div id="emailHelp" class="form-text" style="padding-bottom: 6%; color: whitesmoke;"> Nota: Recuerda habilitar las operaciones en Spot de la API Key, de lo contrario el bot no funcionará.</div>        
                            <button type="submit" class="btn btn-primary" >Entrar</button>                
                        </form>    
                      </div>
                </div>
            </div>
        </section>
    <!--/Login-->
    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>